<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCnSw_lWf4wb7_XvaV7KJlYrqFlFT7HjDI</string>
	<key>GCM_SENDER_ID</key>
	<string>105998691932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.julienrahier.colockitchenrace</string>
	<key>PROJECT_ID</key>
	<string>colocskitchenrace-3c59a</string>
	<key>STORAGE_BUCKET</key>
	<string>colocskitchenrace-3c59a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105998691932:ios:260d82bf305f4126d4c099</string>
</dict>
</plist>